body{
    background-image: url(https://i.ytimg.com/vi/-SCI-nv47dI/maxresdefault.jpg);
    filter:contrast(200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.text{
    text-align: center;
    margin-left: 20px;
    color: rgb(0, 255, 255);
}
h1{
    text-align: center;
    color: rgb(0, 255, 255);
}
.discord{
    background-color: rgb(0, 255, 255);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.whatsapp{
    background: rgb(0, 255, 255);
    background-color: rgb(0, 255, 255);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mega{
    display: flex;
    flex-direction: column;
}